
/*
*{outline:1px solid rgba(255,0,0,1);}
*/

.header{
	height: 80px;
}
.header img{
	width: 80px;
	margin-left: 40px;
}
.menu{
	padding-top: 50px;
}
.menu li{
	display: inline-block;
	border-right: 1px solid #ccc;
	font-size: 12px;
}
.menu a{
	text-decoration: none;
	color: #ccc;
	margin: 20px;
}
.semilla{
	background: url("../img/semilla.jpg") no-repeat;
	background-size: cover;
	position: relative;
	height: 200px;
	background-position: center;
	margin-right: -14px;
}
.contenido{
	background-color: #f2f2f2;
	padding: 5%;
	padding-left: 20%;
	padding-right: 20%;
}
.contenido h3{
	color: #4D4D4D;
}
.contenido p{
	color: #4D4D4D;
}
.nosotros{
	text-align: center;
}
.nosotros p{
	color: #4D4D4D;
}
.metodo img{
	width: 631.5px;
	height: 406px;
}
.verde{
	background: url("../img/fondo.jpg");
	padding: 5%;
	text-align: center;
	width: 631.5px;
	height: 406px;
}
.verde h1{
	color: #fff;
}
.verde p{
	color: #fff;
}
.metodo .verde{
	padding: 0;
}
.servicios{
	text-align: center;
	margin-top: 40px;
}
h1{
	margin-bottom: 20px;
}
p{
	margin-bottom: 40px;
}
.servicios img{
	margin-right: 30px;
}
.proyectos{
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 50px;
	background-color: #5E8039;
	color: white;
}
.proyectos img{
	margin-bottom: 10px;
	width: 470px;
	height: 333px; 
}
.proyectos h3{
}
.descripcion{
	padding-top: 50px;
	text-align: center;
	font-size: 13px;
}
.servicios h1{
	margin-bottom: 20px;
}
.servicios p{
	margin-bottom: 20px;
}
h4{
	color: #5E8039;
	font-size: 18px;
	margin-bottom: 15px;
}

#equipo{
	text-align: center;
	padding: 50px;
}
#equipo h2{
	text-align: left;
	color: #1D6F0E;
	margin-bottom: 5px;
}
.equipo{
	margin-left: 0px;
}
.foto-coder{
	width: 190px;
	height: 210px;
	border-radius: 100%;
	margin-bottom: 20px;
}
#equipo h3{
	color: #000000;
}
.coder{
	margin-bottom: 20px;
}
.iconos{
	padding: 10px; 
}
.redes{
	width: 25px;
	height: 25px;
	margin: 5px;
}
#blog{
	background: url("../img/fondo2.jpg");
	background-size: contain;
	padding: 60px 20px; 
}
.blog{
	margin: 0px;
}
#blog h3{
	color: #000000;
	margin-bottom: 5px;
}
.ir-izquierda{
	position: relative;
	top: 145px;
	left: 50px;
}
.ir-derecha{
	position: relative;
	top: 145px;
	right: 5px;
}
.proyect{
	width: 250px;
	display: inline-block;
	margin-left: 38px;
	margin-right: 38px;
}
.blogger{
	width: 100%;
	height: 150px;
}
.proyect h4{
	color: #000000;
	margin-bottom: 0px;
}
.proyect p{
	margin-bottom: 20px;
}
#contacto{
	background: #5E5D5D;
	padding: 60px;
}
.list-contact{
	width: 100%;
	display: table;
	border: 1px solid #FFFFFF;
}
.list-contact li{
	display: table-cell;
	border-right: 1px solid #FFF;
	width: 160px;
	height: 250px;
	margin-bottom: 0px;
}
.list-contact p{
	font-size: 20px;
	font-family: sans-serif;
	color: #FFFFFF;
	padding: 20px;
	margin-bottom: 110px;
}
.small{
	width: 50px;
	height: 50px;
	margin-left: 150px;
}
#pie-pagina{
	background-color: #F7F9F7;
}
.pie{
	background-color: #F7F9F7;
	padding: 50px;
	font-size: 13px;
	color: #484948;
	margin-left: 0px;
}
.negri{
	text-align: right;
}
.lab{
	color: #F9D74D;
}




