*{outline:1px solid rgba(255,0,0,1);}

.header{
	height: 80px;
}
.header img{
	width: 80px;
	margin-left: 40px;
}
.menu{
	padding-top: 50px;
}
.menu li{
	display: inline-block;
	border-right: 1px solid #ccc;
	font-size: 12px;

}
.menu a{
	text-decoration: none;
	color: #ccc;
	margin: 20px;
}

.semilla{
	background: url("../img/semilla.jpg") no-repeat;
	background-size: cover;
	position: relative;
	height: 200px;
	background-position: center;
}
.contenido{
	background-color: #f2f2f2;
	padding: 5%;
	padding-left: 20%;
	padding-right: 20%;
}
.contenido p{
	color: #4D4D4D;
}
.nosotros{
	text-align: center;
	padding: 5%;
	margin: 30px;
}
.metodo img{
	width: 470px;
	height: 306px;
}
.verde{
	background: url("../img/fondo.jpg");
	padding: 5%;
	text-align: center;

}
.verde h1{
	color: #fff;
}
.verde p{
	color: #fff;
}
.metodo .verde{
	padding: 0;
}
.servicios{
	text-align: center;
	margin-top: 40px;
}
h1{
	margin-bottom: 20px;
}
p{
	margin-bottom: 40px;
}
h3{
	color: white;
}
.servicios img{
	margin-right: 30px;
}
.proyectos{
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #5E8039;
	color: white;
}
.proyectos img{
	max-width: 100%;
	margin-bottom: 10px;
}
.proyectos h3{
	padding-left: 15px;
}
.descripcion{
	padding-top: 50px;
	text-align: center;
	font-size: 13px;
}
.servicios h1{
	margin-bottom: 20px;
}
.servicios p{
	margin-bottom: 20px;
}
h4{
	color: #5E8039;
	font-size: 18px;
	margin-bottom: 15px;
}

#equipo{
	text-align: center;
	padding: 50px;
}
#equipo h2{
	text-align: left;
	color: #1D6F0E;
	margin-bottom: 5px;
}
.equipo{
	margin-left: 0px;
}
.foto-coder{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-bottom: 30px;
}
#equipo h3{
	color: #000000;
}
.iconos{
	margin: 20px;
	padding: 10px; 
}
.redes{
	width: 25px;
	height: 25px;
	margin: 5px;
}
#blog{
	background: url("../img/fondo2.jpg");
	background-size: contain;
	padding: 50px; 
}

.ir .derecha{
	position: relative;
	left: 0px;
}
.ir .izquierda{
	position: relative;
	right: 0px;
}

#blog h3{
	color: #000000;
	margin-bottom: 5px;
}
.blog{
	margin-left: 0px;
	margin-right: 0px;
}
.proyect{
	width: 200px;
	display: inline-block;
	margin-left: 45px;
	margin-right: 30px;
}
.blogger{
	width: 100%;
	height: 150px;
}
.proyect h4{
	color: #000000;
	margin-bottom: 0px;
}
.proyect p{
	margin-bottom: 20px;
}


.contacto{
	margin-left: 0px;
	background: #343431;
}

/*
.contact{
	padding: 20px;
}
.list-contact{
	display: inline;
	width: 100px;
	height: 100px;

}
.perfiles{
	list-style: none;
	display: inline;	
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	width: 100px;
	height: 100px;
	position: relative;

}
.perfiles span{
	font-family: Courier;
	font-size: 14px;
	position: relative;
	top: 10px;
	left: 10px;
}
.small{
	width: 30px;
	height: 30px;
	position: relative;
	right: 20px;
	bottom: 10px;
	position: relative;
}

*/

.pie{
	background-color: #F7F9F7;
	padding: 50px;
	font-size: 13px;
	color: #484948;
	margin-left: 0px;
}
.negri{
	text-align: right;
}
.lab{
	color: #F9D74D;
}


.contactar{
	padding: 0px;
}

.contact{
	display: inline-block;
	margin-top: 50px; 
	margin-bottom: 50px;
	width: 100px;
	height: 100px;
	padding: 0px;
}
.contact:first-child{
	margin-left: 50px;
}
.contact:last-child{
	margin-right: 50px;
}



