/*
*{outline:1px solid rgba(255,0,0,1);}
*/

.header{
	height: 80px;
}
.header img{
	width: 80px;
	margin-left: 40px;
}
.menu{
	padding-top: 50px;
	position: fixed;
	background-color: #f2f2f2;
	opacity: 0.7;
}
.menu li{
	display: inline-block;
	border-right: 1px solid #ccc;
	font-size: 12px;
}
.menu a{
	text-decoration: none;
	color: #151515;
	margin: 30px;
}
.semilla{
	background: url("../img/semilla.jpg") no-repeat;
	background-size: cover;
	position: relative;
	height: 350px;
	background-position: center;
	margin-right: -14px;
}
.contenido{
	background-color: #f2f2f2;
	padding: 5%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}
.contenido h3{
	color: #4D4D4D;
}
.contenido p{
	color: #4D4D4D;
}
.nosotros{
	text-align: center;
	padding-top: 70px;
}

.nosotros p{
	color: #4D4D4D;
}
.metodo img{
	width: 617.5px;
	height: 384px;
	margin-left: -15px;
	margin-bottom: -4px;
}
.verde{
	background: url("../img/fondo.jpg");
}
.verde h1{
	color: #fff;
}
.verde p{
	color: #fff;
}
.concepto{
	text-align: center;
	padding-top: 100px;
}
.servicios{
	text-align: center;
	margin-top: 40px;
}
h1{
	margin-bottom: 20px;
}
p{
	margin-bottom: 40px;
}
.servicios{	
	padding-left: 90px;
	padding-right: 60px;
}
.servicios img{
	margin-right: 30px;
}
.proyectos{
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 70px;
	background-color: #5E8039;
	color: white;
}
.proyectos img{
	margin-bottom: 1px;
	width: 450px;
	height: 300px; 
}
.proyectos h3{
}
.descripcion{
	padding-top: 50px;
	text-align: center;
	font-size: 13px;
}
.servicios h1{
	margin-bottom: 25px;
}
.servicios p{
	margin-bottom: 20px;
	font-size: 12px;
}
h4{
	color: #5E8039;
	font-size: 18px;
	margin-bottom: 15px;
}

#equipo{
	text-align: center;
	padding: 60px;
}
#equipo h2{
	text-align: left;
	color: #1D6F0E;
	margin-bottom: 5px;
}
.equipo{
	margin-left: 0px;
}
.foto-coder{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-bottom: 20px;
}
#equipo h3{
	color: #000000;
}
.coder{
	margin-bottom: 20px;
}
.redes{
	width: 25px;
	height: 25px;
	margin: 5px;
}
#blog{
	background: url("../img/fondo2.jpg");
	background-size: contain;
	padding: 60px 20px; 
}
.blog{
	margin: 0px;
}
#blog h3{
	color: #000000;
	margin-bottom: 5px;
	padding-left: 70px;
}
.slider{
	width: 90%;
	height: 350px;
	margin: auto;
	overflow: hidden;
}
.slider .cont-slider-ineter{
	display: table;
	position: relative;
	margin-top: 20px;
	width: 200%;
}
.slider .cont-slider{
	float: left;
 	position: relative;
 	transition: width 2s linear 1s;
 	width: 100%; 
} 
.slider .cont-slider-ineter .next{
	background: url(../img/iconos/slider/ecomunidad-16.png) no-repeat;
	height: 34px;
	width: 34px;
	position: absolute;
	top: 35%;
	left: 48%;
}
.slider .cont-slider-ineter .prev{
	background: url(../img/iconos/slider/ecomunidad-15.png) no-repeat;
	height: 34px;
	width: 34px;
	position: absolute;
	top: 35%;
	left: 0;
}
.proyect{
	width: 250px;
	display: inline-block;
	margin-left: 52px;
	margin-right: 52px;
}
.blogger{
	width: 100%;
	height: 150px;
}
.proyect h4{
	color: #000000;
	margin-bottom: 0px;
}
.proyect p{
	margin-bottom: 20px;
}
#contacto{
	background: #5E5D5D;
	padding: 60px;
}
.list-contact{
	width: 100%;
	display: table;
	border: 1px solid #FFFFFF;
}
.list-contact li{
	display: table-cell;
	border-right: 1px solid #FFF;
	width: 160px;
	height: 160px;
	margin-bottom: 0px;
}
.list-contact p{
	font-size: 20px;
	font-family: sans-serif;
	color: #FFFFFF;
	padding: 20px;
	margin-bottom: 110px;
}
.small{
	width: 50px;
	height: 50px;
	margin-left: 150px;
}
.small:last-child{
	width: 38px;
	height: 38px;
}
#pie-pagina{
	background-color: #F7F9F7;
}
.pie{
	background-color: #F7F9F7;
	padding: 70px;
	font-size: 13px;
	color: #484948;
	margin-left: 0px;
}
.negri{
	text-align: right;
}
.lab{
	color: #F9D74D;
}
