/* Inserta tu codigo aqui */
*/* {outline:1px solid rgba(255,0,0,1);}*/
.header{
	height: 80px;
}
.header img{
	width: 80px;
	margin-left: 40px;
}
.menu{
	padding-top: 50px;
}
.menu li{
	display: inline-block;
	border-right: 1px solid #ccc;
	font-size: 12px;

}
.menu a{
	text-decoration: none;
	color: #ccc;
	margin: 20px;
}

.semilla{
	background: url("../img/semilla.jpg") no-repeat;
	background-size: cover;
	position: relative;
	height: 200px;
	background-position: center;
}
.contenido{
	background-color: #f2f2f2;
	padding: 5%;
	padding-left: 20%;
	padding-right: 20%;
}
.nosotros{
	text-align: center;
	padding: 5%;
	margin: 30px;
}
.metodo img{
	width: 470px;
	height: 306px;
}
.verde{
	background: url("../img/fondo.jpg");
	padding: 5%;
	text-align: center;

}
.metodo .verde{
	padding: 0;
}
.servicios{
	text-align: center;
	margin-top: 40px;
	font-size: 13px;
}
.servicios img{
	width: 140px;
	height: 140px;
	margin-top: 50px;
	margin-right: 30px;
}
.proyectos{
	padding: 50px 7px 30px 5px;
	background-color: #5E8039;
	color: white;
	margin-top: 50px;
}
.proyectos img{
	max-width: 100%;
	margin-bottom: 10px;
}
.proyectos h3{
	padding-left: 15px;
}
.descripcion{
	padding-top: 50px;
	text-align: center;
	font-size: 13px;
}
.servicios h1{
	margin-bottom: 20px;
}
.servicios p{
	margin-bottom: 20px;
}
h4{
	color: #5E8039;
	font-size: 18px;
	margin-bottom: 15px;
}
